*{
    margin: 0;
}

body{
    width: 55%;
    margin: auto;
    padding 5px;
}

header{
    width: 100%;
    background-color: rgb(78,160,255);
    background-image: url(../img/pattern.png);
    background-size: 35%;
    background-repeat: repeat-x;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#logo{
    width: 200px;
}

#titolo{
    padding: 15px 0px;
}

h1{
    font-size: 40px;
}

.autore{
    font-size: 18px;
    color: rgb(162, 162, 162);
}

.nome{
    color: rgb(32,169,229);
}

#data{
    font-size: 12px;
    color: rgb(162, 162, 162);
}

.photo-description{
    font-size: 12px;
}

.paragrafo{
    font-size: 17px;
    padding-top: 20px;
}

#bg{
    background-color: yellow;
}

.lista{
    padding-left: 20px;
}

table{
    width: 100%;
    padding-top: 20px;
}

.tr{
    background-color: rgb(32,169,229);
    color: white;
    font-size: 17px;
}

.lightblue{
    background-color: paleturquoise;
    color: black;
}

.white{
    background-color: white;
    color: black;
}

.half{
    width: 50%;
}